.topbar {
    /* background-color: #21374c; */
    height: 75px;
    width: 100%;
    /* color: white; */

    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.topbar-dll {
    clear: both;
    float: left;
    padding: 22px 0 5px 4px;
}

.topbar-searchbox {
    clear: none;
    float: left;
    width: 150px;
    padding: 22px 0 5px 12px;
}

.topbar-search-membership-error-icon {
    float: left;
    padding: 13px 0 0 15px;
}

.topbar-search-membership-error-lbl {
    float: left;
    clear: none;
    padding: 26px 0 5px 15px;
}
