.membership {
    float: left;
    clear: none;
    text-align: left;
    margin: 0 0 0 10px;
    /* border-style: solid;
    border-color: maroon;
    border-width: 1px; */
}

.membership-icon {
    /* clear: both; */
    float: left;
    margin: 14px 0 0 0;
    height: 50px;;
}

.membership-info {
    /* clear: none; */
    float: left;
    margin: 16px 0 0 10px;
    width: 440px;
    height: 45px;
    /* border-style: solid;
    border-color: blue;
    border-width: 1px; */
}

.membership-name{
    float:left;
    font-weight: 600;
    color:blue;
}

.membership-address{
    float:left;
    clear: both;
}
